{% extends "base_generic.html" %}

{% block content %}
<h1>Local Library HQ's</h1>

  <p>Hello and welcome to Tara's awesome Local Library where you can find very few books.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Tolkien Books:</strong> {{ num_tolkien_books }}</li>
    <li><strong>Number of Available Genres:</strong> {{ num_genres }}</li>
  </ul>

  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}